<table>
	<tr>
		<td>
			<div id="container" style="background-color: #f0f0f0;"></div>
		</td>
		<td style="width: 350px;">
			<table id="objectInfo" class="info-table"></table>
		</td>
	</tr>
</table>


<script src="/js/objectTable.js"></script>

<!-- De specifieke logica voor deze pagina -->
<script src="/js/network_canvas.js"></script>
